[submodule "submodul/a"]
	branch = submodul/a
[submodule "submodul/subb"]
	branch = submodul/b
[submodule "submodules/belajar-submodule"]
	path = submodules/belajar-submodule
	url = git@github.com:fitrifityanto/belajar-git-remote-submodule.git
	branch = submodul/user1
